    /*----------------------------------------------------------------------------------
Project     :   MedicAid - Doctors website template
-------------------------------------------------------------------------------------*/
    /*------------------------------------------------------------------------------------
[Table of contents]
default css
topbar area
header area
hero area
appointment area
about area
service area
schedule area
counter area
team area
testimonial area
blog area
footer area
--------------------------------------------------------------------------------------*/
    /* fonts */
    
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
    /* global css */
    
    * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
    }
    
    ul,
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 400;
        /* color: #9b9b9b; */
        color: #848E9F;
        margin: 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Montserrat', sans-serif;
        /* color: #071c1f; */
        /* color: #1f2728; */
        color: #1A3D7D;
        font-weight: 600;
        margin-bottom: 0;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h5 {
        font-size: 16px;
    }
    
    .button {
        color: #fff;
        background: #2B8FE5;
        padding: 18px 36px;
        line-height: 1;
        font-size: 16px;
        font-weight: 600;
        transition: .3s linear all;
        position: relative;
        z-index: 99999;
        display: inline-block;
    }
    
    .button::before {
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background: #1A3D7D;
        transition: .3s linear all;
        z-index: -1;
    }
    
    .button:hover::before {
        width: 100%;
        color: #fff;
    }
    
    .button:hover {
        color: #fff;
    }
    
    .section-title {
        margin-bottom: 60px;
    }
    
    .section-title h5 {
        color: #2B8FE5;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: 3px;
        margin-bottom: 8px;
    }
    /* global css */
    /* main css starts */
    /* topbar starts */
    
    .top-navbar {
        background-color: #2B8FE5;
    }
    
    .top-navbar .content-box .website-info li {
        display: inline-block;
        color: #FFF;
        font-size: 13px;
        padding: 15px;
        padding-left: 0;
        line-height: 1.1;
        text-transform: capitalize;
    }
    
    .top-navbar .content-box .website-info,
    .top-navbar .content-box .website-icon-social {
        margin-bottom: 0;
    }
    
    .top-navbar .content-box .website-info li i {
        margin-right: 6px;
        color: #13ADE5;
    }
    
    .top-navbar .content-box .website-info li {
        font-weight: 700;
    }
    
    .top-navbar .content-box .website-info li a {
        font-weight: 700;
        transition: .3s linear all;
    }
    
    .top-navbar .content-box .website-info li a:hover {
        color: #1A3D7D;
    }
    
    .top-navbar .content-box .website-icon-social li {
        display: inline-block;
        color: #FFF;
        font-size: 13px;
        padding-left: 15px;
        line-height: 1;
        transition: .3s linear all;
    }
    
    .top-navbar .content-box .website-icon-social li:hover {
        color: #1A3D7D;
    }
    /* topbar ends */
    /* navbar starts */
    
    .logo h5 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 25px;
    }
    
    .logo h5 span,
    .footer-logo h5 span {
        color: #2B8FE5;
    }
    
    .main-nav ul {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    
    .main-nav ul li {
        margin-right: 37px;
        position: relative;
    }
    
    .main-nav ul li:last-child {
        margin-right: 0;
    }
    
    .main-nav ul li.active a {
        color: #2B8FE5;
    }
    
    .main-nav ul li a {
        font-family: 'Roboto', sans-serif;
        color: #1A3D7D;
        font-size: 15px;
        font-weight: 600;
        padding: 30px 0;
        display: block;
        transition: .3s linear all;
        text-transform: capitalize;
    }
    
    .main-nav ul li a:hover {
        color: #2B8FE5;
    }
    
    .search,
    .profile {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 11%);
        color: #1A3D7D;
    }
    
    .main-nav ul li.profile {
        margin-right: 20px;
    }
    /* ##### Submneu starts ######*/
    
    .submenu {
        position: absolute;
        z-index: 9999;
        background: #fff;
        width: 200px;
        left: 0;
        top: 111%;
    }
    
    .main-nav ul li ul.submenu {
        display: block;
        padding: 20px 30px;
        opacity: 0;
        visibility: hidden;
        transition: .3s linear all;
    }
    
    .main-nav ul li ul.submenu li {
        margin: 0;
        margin-bottom: 20px;
    }
    
    .main-nav ul li ul.submenu li:last-child {
        margin-bottom: 0;
    }
    
    .main-nav ul li ul.submenu li a {
        padding: 0;
    }
    
    .main-nav ul li:hover ul.submenu {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
    
    .main-nav ul li ul.submenu li a:hover {
        color: #2B8FE5;
    }
    /* ##### Submenu Ends ####### */
    /* navbar ends */
    /* hero starts */
    
    .hero-utility {
        padding: 150px 120px;
        /* min-height: 100vh; */
        position: relative;
    }
    
    .single-slider-one {
        background: url('../img/banner-1.jpg')top left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .single-slider-two {
        background: url('../img/banner-2.jpg') center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .single-slider-one::before,
    .single-slider-two::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(26, 61, 125, .5)
        /* background: #0b0c26;
    opacity: .5; */
    }
    
    .hero-caption h1 span {
        position: relative;
        z-index: 1;
    }
    
    .hero-caption h1 span::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        background: #2B8FE5;
        height: 23px;
        width: 100%;
        z-index: -1;
    }
    
    .pulse {
        background-color: #2B8FE5;
        border: 1px solid #2B8FE5;
        width: 55px;
        height: 55px;
        line-height: 55px;
        border-radius: 50%;
        font-size: 14px;
        cursor: pointer;
        overflow: hidden;
        -webkit-animation: video-pulse-presentation 2s linear infinite;
        animation: video-pulse-presentation 2s linear infinite;
        transition: .3s linear all;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 35px;
    }
    
    @-webkit-keyframes video-pulse-presentation {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgb(19 173 229 / 70%), 0 0 0 0 rgb(19 173 229 / 70%);
            box-shadow: 0 0 0 0 rgb(19 173 229 / 70%), 0 0 0 0 rgb(19 173 229 / 70%);
        }
        40% {
            -webkit-box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 0 rgb(19 173 229 / 70%);
            box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 0 rgb(19 173 229 / 70%);
        }
        80% {
            -webkit-box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 30px rgb(19 173 229 / 0%);
            box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 30px rgb(19 173 229 / 0%);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 30px rgb(19 173 229 / 0%);
            box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 30px rgb(19 173 229 / 0%);
        }
    }
    
    @keyframes video-pulse-presentation {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgb(19 173 229 / 70%), 0 0 0 0 rgb(19 173 229 / 70%);
            box-shadow: 0 0 0 0 rgb(19 173 229 / 70%), 0 0 0 0 rgb(19 173 229 / 70%);
        }
        40% {
            -webkit-box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 0 rgb(19 173 229 / 70%);
            box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 0 rgb(19 173 229 / 70%);
        }
        80% {
            -webkit-box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 30px rgb(19 173 229 / 0%);
            box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 30px rgb(19 173 229 / 0%);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 30px rgb(19 173 229 / 0%);
            box-shadow: 0 0 0 0 rgb(19 173 229 / 0%), 0 0 0 30px rgb(19 173 229 / 0%);
        }
    }
    
    .hero-text h5 {
        color: #fff;
        margin-bottom: 10px;
    }
    
    .hero-text h1 {
        color: #fff;
        font-size: 59px;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    
    .hero-text p {
        color: #fff;
        font-size: 16px;
        text-transform: lowercase;
    }
    
    .header-menu-cta {
        margin-top: 40px;
    }
    
    .active-slider .slick-arrow {
        color: #10111e;
        font-size: 16px;
        background: #fff;
        border: none;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        transition: .3s linear all;
        outline: none;
    }
    
    .active-slider .slick-next {
        display: block;
        position: absolute;
        top: 50%;
        left: 1%;
        transition: .3s linear all;
        background: none;
        font-size: 30px;
        color: #fff;
        opacity: 0;
    }
    
    .active-slider .slick-prev {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 1%;
        z-index: 9999;
        transition: .3s linear all;
        background: none;
        font-size: 30px;
        color: #fff;
        opacity: 0;
    }
    
    .hero-area:hover .slick-next {
        left: 4%;
        opacity: 1;
        color: #eee;
    }
    
    .hero-area:hover .slick-prev {
        right: 4%;
        opacity: 1;
        color: #eee;
    }
    /* hero ends */
    /* appointment starts */
    
    .appointment {
        padding: 100px 0 60px;
    }
    
    .quote-and-presentation {
        margin-top: -16%;
    }
    
    .quote-box {
        border-top: 10px solid #2B8FE5;
        padding: 50px 40px;
        background-color: #FFF;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 73px 0 rgb(11 12 38 / 7%);
        box-shadow: 0 1px 73px 0 rgb(11 12 38 / 7%);
    }
    
    .quote-box .quote-item span.lable {
        font-size: 13px;
        font-weight: 600;
        display: inline-block;
        text-transform: capitalize;
        position: relative;
        margin-bottom: 5px;
    }
    
    .quote-box .quote-item svg {
        right: 34px;
        position: absolute;
        top: calc( 32px + (53px / 2));
        font-size: 13px;
        z-index: 1;
        color: #1A3D7D;
    }
    
    .quote-box .quote-item input {
        border: 2px solid #F9F9F9;
        padding: 12px;
        width: 100%;
        color: #1A3D7D;
        font-size: 13px;
        border-radius: 6px;
        background-color: #F9F9F9;
    }
    
    .nice-select.selectStyle {
        margin-bottom: 30px;
    }
    
    .nice-select {
        width: 100%;
        background: #F9F9F9;
    }
    
    .nice-select span.current {
        color: #1A3D7D;
        opacity: 0.6;
    }
    
    .nice-select .option {
        text-transform: capitalize;
        font-weight: 600;
    }
    
    .nice-select .option:hover {
        color: #2B8FE5;
    }
    
    .nice-select ul.list {
        overflow-y: scroll;
        max-height: 125px;
    }
    /* appointment ends */
    /* about area starts */
    
    #about {
        padding: 60px 0 65px;
        margin-bottom: 100px;
    }
    
    .abt-img {
        position: relative;
    }
    
    .abt-img::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        background: #2B8FE5;
        bottom: -46px;
        right: -46px;
        z-index: -1;
        opacity: .2;
    }
    
    .abt-img img {
        width: 100%;
    }
    
    .right-about {
        padding: 60px;
    }
    
    .abt-title {
        margin-bottom: 16px;
    }
    
    .abt-title h5 {
        color: #2B8FE5;
        font-weight: 500;
        letter-spacing: 3px;
        margin-bottom: 8px;
    }
    
    .abt-content p {
        margin-bottom: 24px;
        line-height: 1.7rem;
    }
    
    .abt-list ul li {
        margin-bottom: 10px;
    }
    
    .abt-list ul li:last-child {
        margin-bottom: 0;
    }
    
    .abt-list ul li svg {
        font-size: 11px;
        color: #2B8FE5;
    }
    
    .abt-list ul li span {
        color: #848E9F;
        margin-left: 15px;
    }
    
    .learn-more {
        margin-top: 24px;
    }
    /* about area ends */
    /* service starts */
    
    #service {
        padding: 120px 0;
        background: url('../img/service-bg.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    
    #service::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        background: #1A3D7D;
        opacity: .9;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    
    #service .service-title h5,
    #service .service-title h2 {
        color: #fff;
    }
    
    .row-bg {
        background: #fff;
        border-radius: 6px;
    }
    
    .service-heading p {
        color: #fff;
    }
    
    .service-box {
        background: #fff;
        padding: 0px 24px;
        /* margin-bottom: 30px; */
        transition: .3s linear all;
        border-right: 1px solid #d6d6d6;
        margin: 40px 0 40px;
    }
    
    .service-box.last-box {
        border-right: none;
    }
    /* .service-box:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 16px 32px 0px rgba(196, 203, 255, 0.3);
} */
    
    .service-icon {
        margin-bottom: 50px;
        display: inline-block;
        text-align: center;
        display: inline-block;
        text-align: center;
        font-size: 55px;
        width: 70px;
        height: 70px;
    }
    
    .service-icon img {
        width: 100%;
    }
    
    .service-content h3 {
        margin-bottom: 10px;
        font-size: 22px;
        color: #1A3D7D;
        transition: .3s linear all;
    }
    
    .service-content p {
        font-size: 15px;
        font-weight: normal;
        line-height: 26px;
        color: #848E9F;
        margin-bottom: 15px;
    }
    /* service ends */
    /* schedule starts */
    
    .schedule {
        padding: 120px 0 60px;
    }
    
    .space {
        margin-top: 60px;
    }
    
    .right-schedule {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .colorful-tab-wrapper {
        width: 100%;
        background: #fff;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
    .colorful-tab-wrapper::before {
        color: #848E9F;
        font-size: 80px;
    }
    
    .colorful-tab-menu {
        background: rgba(43, 143, 229, 0.2);
        text-align: center;
        margin-bottom: 30px;
    }
    
    #classes .colorful-tab-menu-item.active a {
        background: #1A3D7D;
        color: #fff;
    }
    
    #classes .colorful-tab-menu li a {
        display: block;
        font-weight: 600;
        font-size: 14px;
        color: #2B8FE5;
        text-transform: uppercase;
        padding: 15px 0;
        transition: all linear 0.3s;
    }
    
    #classes .colorful-tab-menu li a:hover {
        color: #fff;
        background: #1A3D7D;
    }
    
    .colorful-tab-content ul {
        overflow: hidden;
    }
    
    .colorful-tab-content .schedule-icon {
        margin: 8px 0;
    }
    
    .colorful-tab-content ul li {
        float: left;
        width: 20%;
        background: rgba(43, 143, 229, 0.2);
        display: block;
        text-align: center;
        height: 228px;
        border: 2.5px solid #fff;
        box-sizing: border-box;
        padding: 50px 5px 0 5px;
        color: #848E9F;
        transition: all linear 0.2s;
    }
    
    #classes .colorful-tab-container ul li:hover {
        background: #2B8FE5;
        color: #fff;
        z-index: 9999999;
    }
    
    #classes .colorful-tab-container ul li:hover p {
        color: #fff;
    }
    
    #classes .colorful-tab-container ul li p {
        font-size: 16px;
        color: #2B8FE5;
    }
    
    #classes .colorful-tab-container ul li i::before {
        font-size: 50px;
        margin-left: 0px;
        padding: 5px 0;
    }
    /* schedule ends */
    /* counter area starts */
    
    .counter {
        padding: 100px 0;
        background: url('../img/counter-bg-2.png') no-repeat center center;
        background-size: cover;
        margin: 60px 0;
        background-color: #1A3D7D;
    }
    
    .single-counter {
        display: flex;
        align-items: center;
        background: #091D3E;
        color: #fff;
        padding: 40px 32px;
        border-bottom: 3px solid #2B8FE5;
    }
    
    .counter-info h5 {
        font-size: 40px;
        color: #fff;
        font-weight: 900;
    }
    
    .counter-info span {
        font-weight: 600;
    }
    
    .counter-icon {
        margin-right: 20px;
    }
    
    .counter-icon svg {
        font-size: 62px;
        color: #2B8FE5;
    }
    /* #cta::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0b0c26;
    opacity: .5;
} */
    
    .white {
        color: #fff;
    }
    
    .contact-form-wrapper {
        background: #fff;
        padding: 30px;
        border-radius: 3px;
    }
    
    .quote-item {
        background-color: #F9F9F9;
        margin-bottom: 30px;
        padding: 15px;
        position: relative;
        border-radius: 3px;
    }
    
    .quote-item input {
        border: navajowhite;
        background: transparent;
        width: 100%;
        font-size: 13px;
        font-weight: 600;
        position: relative;
    }
    
    .quote-item svg {
        position: absolute;
        right: 23px;
        top: 21px;
        font-size: 13px;
        color: #f71735;
    }
    
    .quote-item textarea {
        background: transparent;
        border: none;
        height: 100px;
    }
    
    .quote-item:last-child {
        background: none;
        margin-bottom: 0;
    }
    
    .quote-btn {
        background: #f71735;
        color: #fff;
        border-radius: 3px;
        border: none;
    }
    /* counter area ends */
    /* team starts */
    
    #team {
        padding: 60px 0 60px;
    }
    
    .team.style-16,
    .team.style-17 {
        background-color: #fff;
        border: 1px solid #ebf2f3;
        border: 1px solid #ebf2f3;
        box-shadow: none;
        border-top: 0;
    }
    
    .team .team-thumb {
        position: relative;
        overflow: hidden;
    }
    
    .team .team-thumb img {
        transition: .3s;
        width: 100%;
    }
    
    .team.style-16 .team-controls {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    
    .team .team-controls a {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #fff;
        color: #2B8FE5;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    
    .team:hover .team-controls a {
        background-color: #2B8FE5;
        color: #fff;
    }
    
    .team.style-16 .team-body {
        position: relative;
        background-color: #fff;
        padding: 33px 29px;
    }
    
    .team .team-body h5 {
        margin-bottom: 0;
        font-size: 22px;
    }
    
    .rating {
        display: flex;
        align-items: center;
        margin: 12px 0;
    }
    
    .rating svg {
        display: inline-block;
        color: #fcb71b;
        padding-left: 4px;
        font-size: 20px;
    }
    
    .rating span {
        color: #848E9F;
    }
    
    .team.style-16 .team-categories {
        margin-top: 0;
    }
    
    .team .team-categories a {
        color: #1A3D7D;
        font-weight: 600;
    }
    
    .team.style-16 .team-info {
        margin-top: 10px;
    }
    
    .team .team-info span {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #848E9F;
    }
    
    .team .team-info span svg {
        margin-right: 10px;
        color: #2B8FE5;
    }
    
    .team-body .button {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    /* testimonial starts */
    
    .testimonial {
        padding: 60px 0 60px;
    }
    
    .single-testimonial-wrapper {
        box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
        padding: 30px;
        background: aliceblue;
    }
    
    .single-testimonial-wrapper .quote {
        font-size: 40px;
        color: #2B8FE5;
        opacity: 0.2;
        margin-bottom: 15px;
    }
    
    .testimonial-content {
        margin-bottom: 20px;
    }
    
    .testimonial-content p {
        line-height: 26px;
        font-size: 16px;
        color: #1A3D7D;
        opacity: .6;
    }
    
    .testimonial-meta {
        display: flex;
        align-items: center;
    }
    
    .client-designation {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }
    
    .client-designation strong,
    .client-designation span {
        color: #1A3D7D;
    }
    /* testimonial ends */
    /* blog starts */
    
    .blog {
        padding: 60px 0 60px;
    }
    
    .blog-thumb img {
        width: 100%;
    }
    
    .blog-meta {
        margin-bottom: 10px;
    }
    
    .blog-meta ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
    }
    
    .blog-meta ul li a {
        color: #848E9F;
    }
    
    .blog-meta ul li a svg {
        margin-right: 10px;
    }
    
    .blog-content {
        padding: 20px 0;
    }
    
    .blog-content h5 a {
        color: #1A3D7D;
        font-size: 20px;
        margin-bottom: 10px;
        display: block;
    }
    
    .blog-content p {
        margin-bottom: 30px;
    }
    /* blog ends */
    /* footer starts */
    /* 
#footer {
    padding: 60px 0 0;
} */
    
    .footer-top {
        background: #0b0c26;
        padding: 115px 90px;
    }
    
    .footer-logo h5 {
        color: #fff;
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 15px;
    }
    
    .footer-content p {
        color: #fff;
    }
    
    .footer-form {
        background-color: #09091F;
        padding: 30px;
        border-radius: 3px;
    }
    
    .footer-form h5 {
        color: #2B8FE5;
        font-size: 16px;
        text-transform: capitalize;
        line-height: 1.2;
        margin-bottom: 20px;
        font-weight: 700;
    }
    
    .footer-form p {
        color: #F4F4F4;
        margin-bottom: 26px;
        font-size: 15px;
    }
    
    .footer-form form input {
        width: 100%;
        color: #9B9B9B;
        background-color: transparent;
        font-size: 13px;
        text-transform: capitalize;
        padding: 0 15px;
        line-height: 44px;
        border-radius: 3px;
        letter-spacing: 0.25px;
        position: relative;
        border: 1px solid rgb(204 204 204 / 0.1);
    }
    
    .footer-form form button {
        position: absolute;
        top: 76%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 51px;
        background-color: #2B8FE5;
        font-size: 12px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 3px;
        color: #fff;
        border: 0;
    }
    
    .footer-box {
        margin-bottom: 20px;
    }
    
    .footer-title h3 {
        color: #2B8FE5;
        font-size: 18px;
    }
    
    .footer-menu a {
        color: #fff;
    }
    
    .footer-menu ul li {
        margin-top: 15px;
    }
    
    .footer-icon {
        display: flex;
        margin-bottom: 0;
        margin-top: 15px;
    }
    
    .footer-icon li {
        margin-right: 20px;
        background: #2B8FE5;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }
    
    .footer-icon li a svg {
        color: #fff;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 600;
    }
    
    .footer-right ul {
        display: flex;
    }
    
    .footer-right ul li {
        margin-right: 15px;
    }
    
    .footer-right ul li:last-child {
        margin-right: 0;
    }
    
    .footer-right ul li a {
        text-transform: capitalize;
        transition: .3s linear all;
    }
    
    .footer-right ul li a:hover {
        color: #2B8FE5;
    }
    
    .copyright {
        border-top: 1px solid #35434e;
        padding: 25px 20px;
        background: #09091f;
    }
    
    .footer-copyright p {
        margin-bottom: 0;
    }
    
    .end {
        display: flex;
        justify-content: end;
    }
    /* footer ends */
    /* ############ Login Page ############# */
    
    .banner-login {
        background: url(../img/banner-1.jpg) no-repeat center center;
        padding: 150px 0px 150px;
        background-size: cover;
        position: relative;
    }
    
    .banner-login::before,
    .banner-register::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(26, 61, 125, .7);
        left: 0;
        top: 0;
    }
    
    .banner-search h2 {
        color: #fff;
        font-size: 65px;
        font-weight: 700;
    }
    
    .breadcrumb-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    
    .breadcrumb-container span a {
        margin-right: 10px;
    }
    
    .breadcrumb-container span a:hover {
        color: #fff;
    }
    
    .breadcrumb-container span.current {
        margin-left: 5px;
        color: #2B8FE5;
        font-weight: 700;
    }
    
    .vendor-signup {
        padding: 110px 0px 110px 0px;
    }
    
    .widget h4,
    .widget p {
        color: #fff;
    }
    
    .right-side {
        /* padding: 45px;
    padding: 37px 40px; */
        padding: 50px 55px 55px;
        -webkit-box-shadow: 0 0 30px rgb(51 51 51 / 10%);
        box-shadow: 0 0 30px rgb(51 51 51 / 10%);
        border-radius: 10px;
    }
    
    .widget {
        margin-bottom: 30px;
    }
    
    .widget h4 {
        color: #1A3D7D;
        font-weight: 700;
        text-align: center;
    }
    
    form .controls input {
        background: #eeee;
        border-radius: 5px;
        color: #1A3D7D;
        border: none;
        width: 100%;
        padding: 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
    
    .user-login-cta {
        color: #1A3D7D;
        margin-top: 30px;
        display: block;
    }
    
    .controls button {
        border: none;
        width: 100%;
    }
    
    .user-login-cta a {
        color: #2B8FE5;
        margin-left: 5px;
        font-weight: 700;
    }
    /* ############ Register Page ############# */
    
    .banner-register {
        background: url('/img/banner-2.jpg') no-repeat center center;
        padding: 150px 0px 150px;
        background-size: cover;
        position: relative;
    }
    
    .register-left {
        background: url('../img/register-img.jpg') no-repeat center center;
        background-size: cover;
        padding: 313px 0;
    }
    /* .register-left img {
    width: 100%;
} */
    
    .right-side.register-right {
        border-radius: 0;
    }
    
    .register-widget h4 {
        text-align: left;
    }
    
    .nav-tabs {
        border-bottom: 0
    }
    
    .nav-tabs .nav-link {
        border: none;
        border-radius: 0;
        background: #1A3D7D;
        color: #fff;
        font-size: 20px;
        padding: 13px 34px;
        width: 50%;
        text-align: center;
    }
    
    .nav-tabs .nav-link.active {
        color: #fff;
        background-color: #2B8FE5;
    }
    
    .tab-content {
        margin-top: 25px;
    }
    
    .register-controls .form-group {
        margin-bottom: 41px;
    }
    
    .register-controls .form-group input {
        border-radius: 0;
    }
    /* ############ Appointment Page ############# */
    
    .single-appointment {
        padding: 100px 0;
    }
    
    .single-appointment .quote-and-presentation {
        margin-top: 0;
    }
    
    .appointment-counter {
        margin: 0;
    }
    
    .list-payment {
        display: flex;
    }
    
    .list-payment li {
        margin-right: 15px;
    }
    
    .list-payment li:last-child {
        margin-right: 0;
    }
    
    .list-payment li a {
        font-size: 50px;
    }
    
    .list-payment svg.fa-cc-paypal {
        color: #253b80;
    }
    
    .list-payment svg.fa-cc-visa {
        color: #0066b2;
    }
    
    .list-payment svg.fa-cc-mastercard {
        color: #36495d;
    }
    
    .list-payment svg.fa-cc-amex {
        color: #006fcf;
    }
    
    .booking-summary {
        border-radius: 5px;
        box-shadow: 0 10px 30px rgb(0 0 0 / 5%);
        color: #1A3D7D
    }
    
    .title-booking {
        background: #1A3D7D;
        padding: 20px 25px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
    }
    
    .title-booking .text-color-white {
        color: #fff;
        font-size: 20px;
    }
    
    .list-summary,
    .list-price {
        padding: 20px 26px;
        position: relative;
        margin-bottom: 0;
    }
    
    .list-summary::after,
    .list-price::after {
        content: "";
        width: 100%;
        height: 2px;
        background: #e8e8e8;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .list-total li {
        margin: 12px 0;
    }
    
    .list-summary li,
    .list-price li {
        margin-bottom: 12px;
    }
    
    ul.date,
    ul.hours,
    ul.name-doctor,
    ul.price,
    ul.total {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    ul.list-total {
        padding: 0px 14px;
    }
    
    .box-btn .button {
        width: 100%;
        text-align: center;
    }
    
    ul.price.font-bold {
        font-weight: 700;
    }
    /* ###### Appointment List Page  #######*/
    
    .table {
        margin-bottom: 0;
    }
    
    .table .thead-dark th {
        color: #fff;
        background-color: #1A3D7D;
        border-bottom: 4px solid #2B8FE5;
    }
    
    .list-btn.edit {
        border: none;
        color: #2B8FE5;
        background: transparent;
        font-size: 20px;
    }
    
    .list-btn.delete {
        border: none;
        color: #f03e56;
        background: transparent;
        font-size: 20px;
        margin-left: 10px;
    }
    /* ###### doctor profile page  #######*/
    
    .profile-thumb .team-categories.profile-page-cat {
        color: #1A3D7D;
        font-weight: 600;
        margin-top: 8px;
    }
    
    .box-wrap-details .title-heading {
        color: #35434e;
        font-size: 46px;
        font-weight: 700;
        line-height: 58px;
        padding-bottom: 10px;
        letter-spacing: -1px;
    }
    
    .box-wrap-details .sub-details {
        font-size: 18px;
        color: #565872;
    }
    
    .box-wrap-details p {
        line-height: 1.8rem;
    }
    
    .curriculum-vitae {
        margin-top: 25px;
    }
    
    .curriculum-vitae li {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 23px;
        margin-bottom: 20px;
    }
    
    .curriculum-vitae li .sub-details {
        width: 17.2%;
    }
    
    .box-wrap-details .sub-details {
        font-size: 18px;
        color: #565872;
        font-weight: 600;
        margin-bottom: 7px;
    }
    
    .curriculum-vitae li p {
        width: 82.8%;
    }
    
    .box-doctor-services {
        float: left;
        width: 48%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin-right: 30px;
        box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
        margin-bottom: 30px;
        border-radius: 5px;
    }
    
    .box-doctor-services .box-icon {
        width: 33.4%;
        text-align: center;
    }
    
    .box-doctor-services .box-icon svg {
        line-height: 125px;
    }
    
    .box-doctor-services .content-box {
        width: 66.6%;
        padding-right: 10px;
    }
    
    .box-awards-honours {
        width: 31%;
        margin-right: 33px;
        box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
        text-align: center;
        padding: 0 20px;
        border-radius: 5px;
    }
    
    .box-icon {
        color: #1A3D7D;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    .box-awards-honours .box-icon svg {
        font-size: 75px;
    }
    
    .box-awards-honours h4 {
        font-weight: 500;
        letter-spacing: -0.4px;
    }
    
    .doctor-schedule {
        padding-top: 60px;
    }
    
    .doctor-profile-info {
        padding-bottom: 0;
    }
    /* ####### Patient Profile Page */
    
    .patient-profile {
        padding-bottom: 100px;
    }
    
    .patient-schedule {
        padding-top: 0;
    }
    
    .space-patient {
        margin-top: 30px;
    }
    
    .patient-info span {
        margin-bottom: 7px;
    }
    
    .patient-info span:last-child {
        margin-bottom: 0;
    }
    /* ########## BLOG DETAILS PAGE ######## */
    
    .blog-details-content {
        border-bottom: 1px solid rgb(219, 219, 219);
        padding-bottom: 60px;
    }
    
    .blog-details-content p {
        line-height: 1.8rem;
    }
    
    .blog-details-content img {
        width: 100%;
    }
    
    .highlight {
        background: #1A3D7D;
        color: #fff;
        border-left: 8px solid #13ADE5;
        padding: 30px;
        font-size: 18px;
        border-radius: 4px;
    }
    
    .blog-detail-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .blog-detail-meta .blog-category span {
        background: #f2f7ff;
        padding: 11px 14px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 9px;
        margin-right: 10px;
        transition: .3s linear all;
    }
    
    .blog-detail-meta .blog-category span:hover {
        background: #1A3D7D;
        color: #fff;
    }
    
    .blog-detail-meta .blog-category span:last-child {
        margin-right: 0px;
    }
    
    .blog-detail-meta .blog-share span {
        font-size: 18px;
        font-weight: 600;
        margin-right: 10px;
    }
    
    .blog-detail-meta .blog-share {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .blog-detail-meta .blog-share ul {
        display: flex;
        margin-bottom: 0;
    }
    
    .blog-detail-meta .blog-share ul li {
        background: #516fb1;
        color: #fff;
        margin-right: 10px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .blog-detail-meta .blog-share ul li:last-child {
        margin-right: 0px;
    }
    
    .blog-detail-meta .blog-share ul li.facebook {
        background: #516fb1;
        color: #fff;
    }
    
    .blog-detail-meta .blog-share ul li.twitter {
        background: #2B8FE5;
        color: #fff;
    }
    
    .blog-detail-meta .blog-share ul li.pinterest {
        background: #a91e23;
        color: #fff;
    }
    
    .blog-detail-meta .blog-share ul li:hover a {
        color: #fff;
    }
    
    .comments-area {
        padding-top: 40px;
    }
    
    .comment-list article {
        display: flex;
        padding: 26px 0 35px;
        margin-bottom: 6px;
    }
    
    .comment-wrap .gravatar {
        margin-right: 40px;
    }
    
    .comment-meta {
        margin-bottom: 10px;
    }
    
    .comment-meta .comment-time {
        color: #7d7d7d;
        font-size: 14px;
        font-weight: 600;
    }
    
    .comment-list .children>li {
        padding: 0 0 0 130px;
    }
    
    .comment-list .children article {
        padding: 18px 0 35px 4px;
        border-top: 1px solid #f2f7ff;
    }
    
    .comment-reply-link {
        color: #2B8FE5;
        font-size: 13px;
    }
    
    .comment-reply {
        margin-top: 10px;
    }
    
    .comment-reply-link:hover {
        color: #2B8FE5;
    }
    
    .comment-respond {
        padding: 44px 45px;
        border: 2px solid #e2eeff;
    }
    
    .comment-respond h1 {
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 24px;
    }
    
    .form-respond form input {
        width: 100%;
        padding: 15px;
        background: #F5F8FF;
        border: none;
        border-radius: 4px;
        height: 60px;
    }
    /* right-sidebar */
    
    .widget {
        margin-bottom: 30px;
    }
    
    .widget.widget-bg {
        background: #F5F8FF;
        padding: 30px;
    }
    
    .widget-body .categories,
    .widget-body .tags,
    .widget-body .instagram,
    .widget-body .news-box {
        margin-top: 25px;
    }
    
    .widget-title {
        margin-bottom: 10px;
    }
    
    .widget form input {
        width: 100%;
        padding: 15px;
        background: #F5F8FF;
        border: none;
        border-radius: 4px;
        position: relative;
    }
    
    .widget form button {
        border: none;
        color: #1A3D7D;
        background: none;
        position: absolute;
        right: 8%;
        top: 14px;
        font-size: 18px;
    }
    
    .widget .categories ul li a {
        color: #848E9F;
        margin-bottom: 15px;
        padding-bottom: 15px;
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-transform: capitalize;
        position: relative;
        border-bottom: 1px solid rgb(219, 219, 219);
        transition: .3s linear all;
    }
    
    .widget .categories ul,
    .widget .tags ul,
    .widget .instagram ul {
        margin-bottom: 0;
    }
    
    .widget .categories ul li:hover a {
        color: #2B8FE5;
        cursor: pointer;
    }
    
    .widget .categories ul li a svg {
        float: right;
    }
    
    .widget-body .tags ul li {
        display: inline-block;
    }
    
    .widget-body .tags ul li a {
        background: #fff;
        padding: 10px 13px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 9px;
        margin-right: 5px;
        transition: .3s linear all;
        margin: 0 5px 10px 0;
        display: block;
        color: #212529;
    }
    
    .widget-body .tags ul li:hover a {
        background: #1A3D7D;
        color: #fff;
    }
    
    .widget .widget-body .instagram ul li {
        display: inline-block;
        margin: 2px;
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        width: 60px;
        height: 60px;
    }
    
    .widget .widget-body .instagram ul li img {
        width: 100%;
        height: 100%;
    }
    
    .news-item {
        margin-bottom: 22px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    .news-img {
        height: 60px;
        /* width: 60px; */
    }
    
    .news-img img {
        height: 100%;
        width: 100%;
    }
    
    .item-content {
        padding-left: 22px;
    }
    
    .item-content span {
        color: #2B8FE5;
        font-size: 13px;
    }
    /* mobile menu */
    
    .mean-container a.meanmenu-reveal {
        border: 1px solid #1A3D7D;
    }
    
    .mean-container a.meanmenu-reveal span {
        background: #1A3D7D none repeat scroll 0 0;
    }
    
    a.meanmenu-reveal.meanclose {
        color: #1A3D7D;
    }
    /* search element */
    
    .search-box {
        transition: 0.5s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(26 61 125 / 90%);
        z-index: 1040;
        display: none;
    }
    
    .search-box form {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 85%;
    }
    
    .search-box form input {
        background-color: transparent;
        width: 100%;
        padding: 10px 0;
        font-size: 24px;
        color: #FFF;
        border: 0;
        border-bottom: 1px solid #FFF;
    }
    
    .search-box form button {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
        text-align: center;
        font-size: 22px;
        color: #13ADE5;
        border: 0;
        outline: none;
    }
    
    .search-box .search-box-icon {
        position: absolute;
        right: 50px;
        top: 50px;
        font-size: 22px;
        color: #FFF;
        cursor: pointer;
    }
    
    .search-active {
        display: block;
    }
    /* scroll top btn */
    
    .top-btm {
        position: fixed;
        width: 50px;
        height: 50px;
        line-height: 48px;
        font-size: 20px;
        bottom: 65px;
        right: 50px;
        z-index: 999;
        color: #fff;
        background: #2B8FE5;
        text-align: center;
        cursor: pointer;
        transition: .3s linear all;
        border-radius: 0;
        display: none;
        border-radius: 50%;
    }
    
    .top-btm:hover {
        background: #1A3D7D;
    }